In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv("D:\\feature_selection\\cardio.csv")
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [5]:
x = df.drop('cardio',axis=1)
x

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,0,18393,2,168,62.0,110,80,1,1,0,0,1
1,1,20228,1,156,85.0,140,90,3,1,0,0,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1

In [9]:
x = df.drop('id',axis=1)
x

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [11]:
y = df.cardio
y

0        0
1        1
2        1
3        1
4        0
        ..
69995    0
69996    1
69997    1
69998    1
69999    0
Name: cardio, Length: 70000, dtype: int64

In [23]:
from sklearn.feature_selection import SelectKBest, f_classif

In [25]:
FEATURES = SelectKBest(score_func = f_classif)

In [57]:

FEATURES.fit(x,y)

C:\Users\abuba\anaconda3\Lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: divide by zero encountered in divide
  f = msb / msw

SelectKBest()

In [31]:
FEATURES.scores_

array([4.20900796e+03, 4.60364136e+00, 8.19739692e+00, 2.38877789e+03,
       2.08339524e+02, 3.03629011e+02, 3.59936114e+03, 5.62772977e+02,
       1.67905412e+01, 3.76135544e+00, 8.90914938e+01,            inf])

In [35]:
score_col = pd.DataFrame(data = FEATURES.scores_,columns = ['score'])

In [37]:
score_col

          score
0   4209.007957
1      4.603641
2      8.197397
3   2388.777887
4    208.339524
5    303.629011
6   3599.361137
7    562.772977
8     16.790541
9      3.761355
10    89.091494
11          inf

In [39]:
name_col = pd.DataFrame(data = x.columns,columns = ['Features'])

In [41]:
name_col

       Features
0           age
1        gender
2        height
3        weight
4         ap_hi
5         ap_lo
6   cholesterol
7          gluc
8         smoke
9          alco
10       active
11       cardio

In [43]:
Features_score = pd.concat([score_col,name_col],axis=1)
Features_score

          score     Features
0   4209.007957          age
1      4.603641       gender
2      8.197397       height
3   2388.777887       weight
4    208.339524        ap_hi
5    303.629011        ap_lo
6   3599.361137  cholesterol
7    562.772977         gluc
8     16.790541        smoke
9      3.761355         alco
10    89.091494       active
11          inf       cardio

In [45]:
Features_score.nlargest(8,'score')

          score     Features
11          inf       cardio
0   4209.007957          age
6   3599.361137  cholesterol
3   2388.777887       weight
7    562.772977         gluc
5    303.629011        ap_lo
4    208.339524        ap_hi
10    89.091494       active